@mixin mob {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desk {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

// Транзишн

@mixin transition($tp, $td: 300ms, $tf: ease-in-out) {
  transition-property: $tp;
  transition-duration: $td;
  transition-timing-function: $tf;
}
