// Колір акценту кнопки і тексту
$color-accent: #D41443;
// білий колір тексту 
$color-white: #FFFFFF;
// Колір тексту над заголовком
$text-color-accent-second: #FFA5BA;
// Колір тексту заголовків
$text-title-color: #D41443;
// Колір тексту коричневий
$text-color-second: #907E82;
// Черний колір тексту 
$text-color-black: #000000;
// Колір тексту рожевий для тексту над заголовками
$text-color-accent-second: #FFA5BA;



// кольор фону мобільного меню
$bgc-mob-menu: #E17992;


// колір фону у секціїї hero-header
$bgc-hero-header: #FFB8CA;
// Колір кола у секціїї hero-header
$color-circle: #FFA5BA;


// Колір фону секціїї About(how it’s made?)
$bgc-abuout-gallery-contacts: #FFF5F6;


// Кольори тла карток у секції Products
$bgc-products-pink: #FFB8CA;
$bgc-products-crema: #F0D1A5;
$bgc-products-green: #C2E297;


// Колір фону для градієнту у секціїї Gallery
$bgc-abuout-gallery-contacts: #FFF5F6;


// Колір тла для коментарія у секції Customer Reviews
$bgc-reviews: #FAFAFA;


// Колір фону для градієнту у секціїї Contacts
$bgc-about-gallery-contacts-footer: #FFF5F6;


// Колір фону у footer
$bgc-about-gallery-contacts-footer: #FFF5F6;


// Рожений колір для свг/png у Advantages і Footer
$color-fill: #FEA5BB;