<section class="about section" id="about">
  <div class="container">
    <p class="top-text over-title">tradition and love</p>
    <h2 class="about-title title">how it’s made?</h2>
    <div class="about-box">
      <div class="box-cow">
        <picture class="about-pic-cow">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/about-cow-desk-1x.png 1x,
              ./images/about-cow-desk-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/about-cow-tab-1x.png 1x,
              ./images/about-cow-tab-2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/about-cow-mob-1x.png 1x,
              ./images/about-cow-mob-2x.png 2x
            "
          />
          <img src="./images/about-cow-mob-1x.png" alt="cow" />
        </picture>
      </div>
      <div class="about-box-text">
        <p class="text-first">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <!-- <picture class="about-pic-milk">
                    <source media="(min-width: 1200px)" srcset="./images/about-milk-desk-1x.png 1x,
                    ./images/about-milk-desk-2x.png 2x">
                    <source media="(min-width: 320px)" srcset="./images/about-milk-mob-1x.png 1x,
                    ./images/about-milk-mob-2x.png 2x">
                    <img src="./images//about-milk-mob-1x.png" alt="">
                </picture> -->
        <p class="text-second">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="about-btn">
          Read more
          <svg class="about-icon-btn" width="8" height="8">
            <use href="./images/svg/symbol-defs.svg#icon-Vector-1"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="about-backdrop is-hidden">
    <div class="about-modal">
      <div class="container about-modal-box">
        <button
          type="button"
          class="about-close-btn"
          aria-label="Переключатель мобильного меню"
        >
          <svg width="14" height="14">
            <use
              class="about-icon-cross"
              href="./images/svg/btn-close-mob-menu.svg#icon-close"
            ></use>
          </svg>
        </button>
        <h2 class="about-modal-title over-title">
          On this page we will lead you through all the stages of production of
          <span class="about-modal-title-accent">ice-cream</span>
        </h2>
        <ul class="about-list">
          <li class="about-list-item">
            We choose the freshest and most qualitative ingredients;
          </li>
          <li class="about-list-item">
            We thoroughly check them in our certified laboratory;
          </li>
          <li class="about-list-item">
            Now we can start the ice cream preparation;
          </li>
          <li class="about-list-item">
            We mix all the ingredients with a mixer;
          </li>
          <li class="about-list-item">
            Filter the mixture from clods which did not melt;
          </li>
          <li class="about-list-item">
            Right after that - pasteurization - heat treatment of the mixture;
          </li>
          <li class="about-list-item">
            Then our future ice-cream goes to the homogenizer;
          </li>
          <li class="about-list-item">
            There, under pressure, big balls of milk fat split into the smaller
            ones;
          </li>
          <li class="about-list-item">
            One of the processes - maturation of the mixture;
          </li>
          <li class="about-list-item">
            In a big reservoir the mixture increases viscosity, the structure
            and content of the sheath of fat balls are changed It takes at least
            4 hours;
          </li>
          <li class="about-list-item">
            Freezing - the mixture turns into grand cream-view mass with the
            help of its beating and partial freezing;
          </li>
          <li class="about-list-item">
            Finally we begin on shaping the ice-cream: from the freezer the
            mixture goes to the dispenser and fills up the sugar cone;
          </li>
          <li class="about-list-item">Then we add topping or jam;</li>
          <li class="about-list-item">
            This is it, in the freezing machines we harden the ice-cream at a
            temperature -20 - 30 0C, for 40 minutes and then it comes out with
            the temperature of - 12 0C.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
