<section id="about-us" class="advantages section">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-item">
        <p class="advantages-top-text">721</p>
        <p class="advantages-bottom-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages-item">
        <p class="advantages-top-text">16kg</p>
        <p class="advantages-bottom-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages-item">
        <p class="advantages-top-text">84</p>
        <p class="advantages-bottom-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
