<section class="contacts section">
    <div class="container">
        <h2 class="title visually-hidden">Contacts</h2>
        <ul class="card-list list">
            <li class="contacts-card">
                <div class="offices-card-info">
                    <p class="office-name cafe">CAFE</p>
                    <p class="office-city">Chicago</p>
                    <p class="office-about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="offices-card-times">
                    <ul class="contacts-card-times-list list">
                        <li class="contacts-card-times-item">
                            <p class="contacts-card-times-days">Monday - Friday</p>
                            <p class="contacts-card-times-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts-card-times-item">
                            <p class="contacts-card-times-days">Saturday - Sunday</p>
                            <p class="contacts-card-times-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="offices-card-contacts">
                    <ul class="contact-list list">
                        <li class="contact-item">
                            <a class="contact-tel link" href="tel:+61(0)383766284 ">+61(0) 383 766 284 </a>
                        </li>
                        <li class="contact-item">
                            <a class="contact-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contacts-card">
                <div class="offices-card-info">
                    <p class="office-name foodtruck">FOODTRUCK</p>
                    <p class="office-city">Los Angeles</p>
                    <p class="office-about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="offices-card-times">
                    <ul class="contacts-card-times-list list">
                        <li class="contacts-card-times-item">
                            <p class="contacts-card-times-days">Monday - Friday</p>
                            <p class="contacts-card-times-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts-card-times-item">
                            <p class="contacts-card-times-days">Saturday - Sunday</p>
                            <p class="contacts-card-times-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="offices-card-contacts">
                    <ul class="contact-list list">
                        <li class="contact-item">
                            <a class="contact-tel link" href="tel:+61(0)383766284 ">+61(0) 383 766 284 </a>
                        </li>
                        <li class="contact-item">
                            <a class="contact-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contacts-card">
                <div class="offices-card-info">
                    <p class="office-name cafe">CAFE</p>
                    <p class="office-city">New York</p>
                    <p class="office-about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="offices-card-times">
                    <ul class="contacts-card-times-list list">
                        <li class="contacts-card-times-item">
                            <p class="contacts-card-times-days">Monday - Friday</p>
                            <p class="contacts-card-times-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts-card-times-item">
                            <p class="contacts-card-times-days">Saturday - Sunday</p>
                            <p class="contacts-card-times-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="offices-card-contacts">
                    <ul class="contact-list list">
                        <li class="contact-item">
                            <a class="contact-tel link" href="tel:+61(0)383766284 ">+61(0) 383 766 284 </a>
                        </li>
                        <li class="contact-item">
                            <a class="contact-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="contacts-btn">
            <button class="btn-location" type="button">Our Locations</button>
            <button class="btn-franchise" type="button">Franchise</button>
        </div>
    </div>
</section>