<!-- <section class="reviews section">
  <div class="container">
    <article>
      <h2 class="title visually-hidden">Customer Reviews</h2>
      <picture class="reviews__foto">
        <source
          srcset="
            ./images/reviews-foto-1-1x.png 1x,
            ./images/reviews-foto-1-2x.png 2x
          "
        />
        <img
          class="reviews__foto"
          src="./images/reviews-foto-1-1x.png"
          alt="customer's photo"
        />
      </picture>
      <div class="reviews__box">
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus
        </p>
        <div class="reviews__box-group"></div>
      </div>
      <div class="reviews__slider">
        <p class="reviews__name">Emily, Los Angeles</p>
      </div>
    </article>
  </div>
</section> -->
