<footer class="footer section">
  <div class="container">
    <div class="footer-wrap">
      <div class="footer-wrap-text">
        <p class="over-title footer-top-text">homemade ice cream made</p>
        <p class="title footer-text">with passion</p>
      </div>
      <div class="footer-wrap-linls">
        <ul class="footer-list list">
          <li class="footer-list-item">
            <a
              href="https://github.com"
              class="footer-link link"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="footer-list-icon" width="19" height="19">
                <use href="./images/svg/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer-list-item">
            <a
              href="https://telegram.org"
              class="footer-link link"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="footer-list-icon" width="19" height="19">
                <use href="./images/svg/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-list-item">
            <a
              href="https://www.facebook.com"
              class="footer-link link"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="footer-list-icon" width="19" height="19">
                <use href="./images/svg/symbol-defs.svg#icon-fb"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer-contact">
          Feel free to contact
          <a href="tel:+610383766284" class="footer-tel link"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
    <div class="copyright">
      <p class="copyright-text">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
