<section class="gallery">
  <div class="container">
    <ul class="gallery-list">
      <li class="gallery-list__item list">
        <h1 class="gallery__title visually-hidden">Different Images</h1>
        <picture>
          <source
            srcset="
              ./images/gallery-images-desk-1x.png 1x,
              ./images/gallery-images-desk-2x.png 2x
            "
            media="(min-width:1200px)" />
          <source
            srcset="
              ./images/gallery-images-tab-1x.png 1x,
              ./images/gallery-images-tab-2x.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./images/gallery-images-1x.png 1x,
              ./images/gallery-images-2x.png 2x
            "
            media="(min-width:320px)" />
          <img
            srcset="
              ./images/gallery-images-1x.png 1x,
              ./images/gallery-images-2x.png 2x
            "
            src="./images/gallery-images.png"
            alt="images"
        /></picture>
      </li>
    </ul>
  </div>
</section>
