<!--HEADER-->

<header class="header">
  <div class="container">
    <div class="wrapper-nav">
      <a href="#home" target="_top">
        <img
          src="./images/logo-pic.png"
          alt="Logo"
          width="199"
          height="50"
          class="header-logo"
        />
      </a>
      <ul class="nav-menu__list list">
        <li class="nav-menu__item">
          <a href="#home" class="nav-menu__link current link">Home</a>
        </li>
        <li class="nav-menu__item">
          <a href="#about-us" class="nav-menu__link link">About us</a>
        </li>
        <li class="nav-menu__item">
          <a href="#about" class="nav-menu__link link">How it`s made?</a>
        </li>
        <li class="nav-menu__item">
          <a href="#products" class="nav-menu__link link">Our products</a>
        </li>
        <li class="nav-menu__item">
          <a href="#contact" class="nav-menu__link link">Contact</a>
        </li>
      </ul>
      <button type="button" class="menu-open-btn">
        <svg width="20" height="12" aria-label="Переключатель мобильного меню">
          <use
            class="icon-open"
            href="./images/svg/symbol-defs.svg#icon-burger-btn-open"
          ></use>
        </svg>
      </button>
      <button type="button" class="menu-order__btn">Buy Now</button>
    </div>
  </div>
</header>
