<header class="header">
  <div class="header-logo">
    <p class="logo">Icecream</p>
  </div>
  <div class="header-nav__iner">
    <nav class="header-nav container">
      <ul class="site-nav container list">
        <li class="site-nav__item">
          <a href="" class="site-nav__link current list">Home</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link list">About us</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link list">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link list">Our products</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link list">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="submit" class="btn-primary btn-subscribe list">
      Buy now
      <svg width="4" height="8" class="btn-subscribe__icon">
        <use href="./img/vector.svg"></use>
      </svg>
    </button>
  </div>
</header>
