<!--HEADER-->
<header class="header container">
  <div class="wrapper-nav">
    <a href="https://IceCream.com">
      <img
        src="./images/logo-pic.png"
        alt="Logo"
        width="199"
        height="50"
        class="header-logo"
      />
    </a>
    <button type="button" class="header-btn__menuopen is-hidden">
      <svg width="20" height="12" aria-label="Переключатель мобильного меню">
        <use
          class="icon-open"
          href="./images/svg/symbol-defs.svg#icon-burger-btn-open"
        ></use>
      </svg>
    </button>
  </div>
  <section class="mob-menu is-hidden">
    <button type="button" class="menu-close-btn">
      <svg width="14" height="14">
        <use
          class="icon-cross"
          href="./images/svg/btn-close-mob-menu.svg#icon-close"
        ></use>
      </svg>
    </button>
    <div class="container">
      <button type="button" class="menu-order-btn">Buy Now</button>
      <ul class="mob-menu-list list">
        <li class="mob-menu-list__item">
          <a href="" class="mob-menu-list__link link">Home</a>
        </li>
        <li class="mob-menu-list__item">
          <a href="" class="mob-menu-list__link link">About us</a>
        </li>
        <li class="mob-menu-list__item">
          <a href="" class="mob-menu-list__link link">How it`s made?</a>
        </li>
        <li class="mob-menu-list__item">
          <a href="" class="mob-menu-list__link link">Our products</a>
        </li>
        <li class="mob-menu-list__item">
          <a href="" class="mob-menu-list__link link">Contact</a>
        </li>
      </ul>
    </div>
  </section>
</header>
