<section class="hero">
  <div class="container">
    <div class="hero-bg">
      <div class="hero-img-circle"></div>
      <div class="hero-img-icecrean"></div>
      <div class="hero-img-milk"></div>
      <div class="hero-img-girl"></div>
      <div class="hero-bg-text-box">
        <p class="hero-bg-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="hero-bg-btn" type="button">
          <svg class="hero-btn-logo" height="12" width="7">
            <use href="./images/svg/symbol-defs.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="hero-content">
      <div class="hero-box">
        <div>
          <h1 class="hero-title">
            ice cream made with
            <span class="hero-title-accent">passion</span>
          </h1>
          <div class="hero-btn">
            <button class="btn-products" type="button">
              <a class="link" href="#products">Products</a>
            </button>
            <button class="btn-about" type="button">
              <a class="link" href="#about">How it’s made?</a>
            </button>
          </div>
        </div>
        <ul class="hero-numbers-list list">
          <li class="hero-numbers-item">
            <p class="hero-number">16</p>
            <p class="hero-unit">cafes</p>
          </li>
          <li class="hero-numbers-item">
            <p class="hero-number">23</p>
            <p class="hero-unit">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
