<section class="hero">
    <div class="container">
        <div class="circle"></div>
        <div class="icecrean-img"></div>
        <div class="hero-bg">
            <div class="hero-content">
                <h1 class="hero-title">ice cream made with<br><span class="hero-title-accent">passion</span></h1>
                <div class="hero-btn">
                    <button class="btn-products" type="button">Products</button>
                    <button class="btn-about" type="button">How it’s made?</button>
                </div>
            </div>
        </div>
    </div>
</section>