<div class="mob-menu is-hidden">
  <div class="menu">
    <button type="button" class="menu-close-btn">
      <svg width="14" height="14">
        <use
          class="icon-cross"
          href="./images/svg/btn-close-mob-menu.svg#icon-close"
        ></use>
      </svg>
    </button>
    <div class="container">
      <button type="button" class="menu-order-btn" data-modal-opn>
        Buy Now
      </button>

      <ul class="mob-menu-list list">
        <li class="mob-menu-list__item">
          <a href="#home" class="mob-menu-list__link link">Home</a>
        </li>
        <li class="mob-menu-list__item">
          <a href="#advantages" class="mob-menu-list__link link">About us</a>
        </li>
        <li class="mob-menu-list__item">
          <a href="#about" class="mob-menu-list__link link">How it`s made?</a>
        </li>
        <li class="mob-menu-list__item">
          <a href="#products" class="mob-menu-list__link link">Our products</a>
        </li>
        <li class="mob-menu-list__item">
          <a href="#contact" class="mob-menu-list__link link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
