<section class="products section">
  <div class="container">
    <div class="products-overtitle over-title">100% NATURAL</div>
    <h1 class="products-title title">PRODUCTS</h1>
    <ul class="products-list list">
      <li class="products-li">
        <div class="products-card ice-cream">
            <h2 class="products-card-title">ice cream</h2>
            <p class="products-card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et</p>
              <button type="button" class="products-card-btn">
                <svg class="products-btn-icon" aria-label="Open post" width="13" height="13">
                  <use
                    href="./images/svg/symbol-defs.svg#icon-arrow-right2"
                  ></use>
                </svg>
              </button>
        </div>
      </li>
      <li class="products-li">
        <div class="products-card ice-coffee">
            <h2 class="products-card-title">ice coffee</h2>
            <p class="products-card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button type="button" class="products-card-btn">
              <svg class="products-btn-icon" aria-label="Open post" width="13" height="13">
                <use
                  href="./images/svg/symbol-defs.svg#icon-arrow-right2"
                ></use>
              </svg>
            </button>
        </div>
      </li>
      <li class="products-li">
        <div class="products-card milkshakes">
            <h2 class="products-card-title">milkshakes</h2>
            <p class="products-card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button type="button" class="products-card-btn">
              <svg class="products-btn-icon" aria-label="Open post" width="13" height="13">
                <use
                  href="./images/svg/symbol-defs.svg#icon-arrow-right2"
                ></use>
              </svg>
            </button>
        </div>
      </li>
    </ul>
  </div>
</section>
