<section class="products section">
  <div class="container">
    <div class="products-overtitle over-title">100% NATURAL</div>
    <h1 class="products-title title">PRODUCTS</h1>
    <ul class="products-list list">
      <li class="products-li">
        <div class="products-card ice-cream">
          <picture class="products-img">
            <source
              srcset="
                ./images/products-icecream-1-mob-1x.png 1x,
                ./images/products-icecream-1-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/products-icecream-1-tab-1x.png 1x,
                ./images/products-icecream-1-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products-icecream-1-desk-1x.png 1x,
                ./images/products-icecream-1-desk-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./images/products-icecream-1-mob-1x.png"
              alt="Ice cream"
            />
          </picture>
            <h2 class="products-card-title">ice cream</h2>
            <p class="products-card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et</p>
              <button type="button" class="products-card-btn">
                <svg class="products-btn-icon" aria-label="Open post" width="13" height="13">
                  <use
                    href="./images/svg/symbol-defs.svg#icon-arrow-right2"
                  ></use>
                </svg>
              </button>
            </p>
        </div>
      </li>
      <li class="products-li">
        <div class="products-card ice-coffee">
          <picture class="products-img">
            <source
              srcset="
                ./images/products-icecream-2-mob-1x.png 1x,
                ./images/products-icecream-2-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/products-icecream-2-tab-1x.png 1x,
                ./images/products-icecream-2-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/products-icecream-2-desk-1x.png 1x"
              media="(min-width: 1200px)"
            />
            <img
              src="./images/products-icecream-2-mob-1x.png"
              alt="ice coffee"
            />
          </picture>
          <div class="products-card-text">
            <h2 class="products-card-title">ice coffee</h2>
            <p class="products-card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>

            <button type="button" class="products-card-btn">
              <svg class="products-btn-icon" aria-label="Open post" width="13" height="13">
                <use
                  href="./images/svg/symbol-defs.svg#icon-arrow-right2"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products-li">
        <div class="products-card milkshakes">
          <picture class="products-img">
            <source
              srcset="
                ./images/products-icecream-3-mob-1x.png 1x,
                ./images/products-icecream-3-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/products-icecream-3-tab-1x.png 1x,
                ./images/products-icecream-3-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products-icecream-3-desk-1x.png 1x,
                ./images/products-icecream-3-desk-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./images/products-icecream-3-mob-1x.png"
              alt="milkshakes"
            />
          </picture>
          <div class="products-card-text">
            <h2 class="products-card-title">milkshakes</h2>
            <p class="products-card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button type="button" class="products-card-btn">
              <svg class="products-btn-icon" aria-label="Open post" width="13" height="13">
                <use
                  href="./images/svg/symbol-defs.svg#icon-arrow-right2"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
