.reviews {
    

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__foto {
        width: 85px;
        height: 85px;
        border-radius: 44px;
        margin-bottom: 32px;
    }

    &__box{
        width: 100%;
        padding-top: 30px;
        margin-bottom: 16px;
        background-color: $bgc-reviews;
    }

    &__box-group{
        width: 180px;
        height: 275px;
        position: relative;
        margin: 0 auto;
        padding-top: 16px;
        padding-left: 10px;

        &::before {
            content: '';
            display: block;
            height: 40px;
            width: 54px;
            background-image: url('../images/brackets.png');
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 3px;
            left: 3px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 2.55;
        text-align: center;
        color: $text-color-black;
        max-width: 157px;
        margin: 0 auto;
    }

    &__slider{
        width: 172px;
        height: 73px;
        position: relative;
    }

    &__name {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.86;
        text-align: center;
        color: $text-color-black;
        padding-top: 20px;
        

        &::before{
            content: '';
            display: block;
            background-image: url('../images/group-of-circles.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 32px;
            height: 4px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
        }

        &::after{
            content: '';
            display: block;
            background-image: url('../images/hr-dots.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 72px;
            height: 12px;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            bottom: 0;
        }
    }
}

.underline {
    background-image: linear-gradient(to right, #E1E1E1, #E1E1E1 100%);
    background-position: 0 100%;
    background-size: 180px 1px;
    background-repeat: repeat-x;
}

@include tab{
    .reviews{
        &__foto {
            margin-bottom: 20px;
        }
    
        &__box{
            width: 620px;
            height: 164px;
            padding-top: 20px;
            margin-bottom: 4px;
        }

        &__box-group{
            width: 608px;
            height: 108px;
            padding-left: 40px;

            &::before {
                top: 0;
                left: 15px;
            }
        }

        &__text{
            font-size: 14px;
            line-height: 2.16;
            letter-spacing: 0.04em;
            max-width: 514px;
        }

        &__name{
            font-size: 16px;
            padding-top: 16px;
        }
    }
}

@include desk{
    .reviews{
        &__foto {
            margin-bottom: 16px;
        }

        &__box{
            width: 1034px;
            height: 138px;
            padding-top: 32px;
            margin-bottom: 16px;
        }

        &__box-group{
            width: 822px;
            height: 75px;
            padding-left: 40px;
        }

        &__text{
            font-size: 16px;
            line-height: 1.86;
            max-width: 750px;
        }

        &__name{
            font-size: 20px;
            padding-top: 16px;
        }

    }
}