.header {
  display: flex;
  width: 100%;
  height: 80px;
  background-image: url('../images/logo-pic.png');
  background-repeat: no-repeat;
}

.header-btn {
  display: block;
  width: 20px;
  height: 12px;
}
