.header {
  position: fixed;
  width: 100%;
  height: 80px;
  padding-top: 8px;
  padding-bottom: 8px;

  @include tab {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.wrapper-nav {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  justify-content: space-between;
  margin-left: 0;

  @include tab {
    margin-left: auto;
  }
}

.menu-open-btn {
  display: inline-flex;
  border: none;
  background-color: transparent;
  margin-left: auto;
  @include desk {
    display: none;
  }
}

.menu-close-btn {
  display: none;
}

.mob-menu-list {
  display: none;
}

.menu-order-btn {
  display: none;
  @include tab {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    border-radius: 22px;
    color: #d41443;
    background-color: #fafafa;
    border-color: transparent;
    padding: 9px 36px;

    margin-left: 32px;
    .container {
      display: flex;
    }

    &::after {
      content: '>';
      width: 5.26px;
      height: 8px;
      border-radius: 2px;
      margin-left: 12px;
    }
  }
}
