.hero{
    .container{
        padding: 0;
        position: relative;
        background-color: $bgc-hero-header;
    }
}
.hero-bg{
}

.circle{
    position: absolute;
    z-index: 2;
    top: 83px;
    left: 36px;
    width: 282px;
    height: 344px;
    background-image: url(../images/Ellipse.png);
    background-repeat: no-repeat;
    @include tab{
        top: 43px;
        left: 248px;
        width: 335px;
        height: 333px;
    }
    @include desk{
        top: 54px;
        left: 517px;
        width: 534px;
        height: 534px;
    }
}

.icecrean-img{
    height: 410px;
    width: 171px;
    z-index: 3;
    background-image: url(../images/hero-icecream-mob-1x.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 94px;
    right: 32px;
    @include tab{
        background-image: url(../images/hero-icecream-tab-1x.png);
        top: 80px;
        right: 303px;
        height: 336px;
        width: 143px;
    }
    @include desk{
        background-image: url(../images/hero-icecream-desk-1x.png);
        top: 108px;
        right: 408px;
        height: 567px;
        width: 236px;
    }
}

.hero-content{
    padding: 194px 82px 158px 20px;
    position: relative;
    z-index: 10;
}

.hero-title{
    font-family: 'Titan One', Tahoma, sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    width: 218px;
}

.hero-title-accent{
    font-size: 48px;
    line-height: 0.96;
    color: $color-accent;
}

.hero-btn{
    display: flex;
}

.btn-products{
    background-color: $color-accent;
    border-radius: 20px;
    border: none;
    height: 24px;
    min-width: 63px;
    font-size: 8px;
    line-height: 1.25;
    // display: flex;
    // align-items: center;
    // text-align: center;
    color: #FFFFFF;
}

.btn-about{
    margin-left: 8px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: none;
    height: 24px;
    min-width: 83px;
    font-size: 8px;
    line-height: 1.25;
    // display: flex;
    // align-items: center;
    // text-align: center;
    color: $color-accent;
}