.hero{
    background-color: $bgc-hero-header;
    .container{
        padding: 0;
    }
}
.hero-bg{
    position: relative;
}

.circle{
    position: absolute;
    z-index: 2;
    top: 83px;
    right: 0;
    // left: 25%;
    width: 346px;
    height: 344px;
    background-image: url(../images/Ellipse\ 3.png);
    background-repeat: no-repeat;
    // border-radius: 50%;
    // border: none;
    // background-color: $color-circle;
    // background-size: cover;
}

.icecrean-img{
    height: 410px;
    width: 171px;
    z-index: 3;
    background-image: url(../images/hero-icecream-mob-1x.png);
    position: absolute;
    top: 94px;
    right: 32px;
    // left: 0;
    // bottom: 0;
}

.hero-content{
    padding: 194px 82px 158px 20px;
    position: relative;
    z-index: 10;
}

.hero-title{
    font-family: 'Titan One', Tahoma, sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    width: 218px;
}

.hero-title-accent{
    font-size: 48px;
    line-height: 0.96;
    color: $color-accent;
}

.hero-btn{
    display: flex;
}

.btn-products{
    background-color: $color-accent;
    border-radius: 20px;
    border: none;
    height: 24px;
    min-width: 63px;
    font-size: 8px;
    line-height: 1.25;
    // display: flex;
    // align-items: center;
    // text-align: center;
    color: #FFFFFF;
}

.btn-about{
    margin-left: 8px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: none;
    height: 24px;
    min-width: 83px;
    font-size: 8px;
    line-height: 1.25;
    // display: flex;
    // align-items: center;
    // text-align: center;
    color: $color-accent;
}